<!DOCTYPE html>
<html>
<head>
  <title> Shop </title>
</head>
<body>
  <h1>Добро пожаловать на главную страницу</h1>
  <ul>
    <h2>Create an account</h2>
    <button><a href="{% url 'reg' %}">Register</a></button>
    <p>Already have an account? <a href="{% url 'login' %}">Log in</a></p>

    <p>Logout: <a href="{% url 'logout' %}">Logout</a></p>
      </header>
      <li><a href="{% url 'decor' %}">Декор</a></li>
      <li><a href="{% url 'mebel' %}">Мебель</a></li>
      <li><a href="{% url 'candel' %}">Свечи</a></li>
      <li><a href="{% url 'jewely' %}">Украшения</a></li>
      <li><a href="{% url 'poisk'%}">Поиск товара</a></li>
  </ul>
  {% for product in products %}
        <p class="decor">
        {{ product.name }}
        <div class="media tm-person">
            <img src="{{ product.image.url }}" alt="Product Image {{ product.name }}" class="img-fluid"  style="display: block; margin: 0 auto;">
        </div>
        </p>
        <a href="{% url 'order_create' %}" class="button"> Buy now </a>
        <form action="{% url 'add_to_cart' product.id %}" method="post">
            {% csrf_token %}
            <button type="submit" class="buy-now-button">Add to Cart</button>
        </form>
{% endfor %}
</body>
</html>